<h1>$word.getName() Definitions:</h1>

<ul>
  #foreach($definition in $word.getDefinitions())
   <li>$definition.getName()</li>
  #end
</ul>

<a href="/words/$word.getId()/definitions/new">Add a new definition</a>
<a href="/words">All words</a>
